body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.scrollable_content {
  padding-bottom: 90px;
}

.flex {
  display: flex !important;
}

ons-list-item.isDead {
  background-color: lightgray;
}

.isDead>div {
  text-decoration-line: line-through;
}

.player>div {
  justify-content: space-between;
}

ons-list-item:not(.isDead) button {
  color: white;
  border-color: #0076ff;
  background-color: #0076ff;
}

.checkbox--noborder__checkmark:after {
  border-right-style: none !important;
  border-top-style: none !important;
}

.button.button--effect {
  margin-right: 12px;
}

.button.button--effect>ons-icon {
  margin-left: 6px;
}

.effect-input {
  background-color: white;
  margin-left: 50px;
}

.effect-input ons-input {
  padding: 6px 0;
}

.effect-input form {
  display: flex;
  justify-content: space-between;
}

ons-list-item button.button--dialog,
.button--dialog {
  background-color: transparent;
  border: none;
  color: gray;
  padding: 12px 15px;
}

.button--dialog:active {
  background-color: #0076ff;
  color: white;
}